.demo-gallery {
  margin: 20px auto;
  flex-wrap: wrap;

  a {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 0 2% 0;
    line-height: 0;
    flex: 0 0 48%;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 2px;
    cursor: zoom-in;
    transition: all 0.2s ease-out;

    @media(min-width: 730px) {flex-basis: 31%;}
    @media(min-width: 992px) {
      flex-basis: 24%;
      margin: 0 0 1% 0;
    }
    @media(min-width: 1190px) {flex-basis: 19%;} 

    
        @media(min-width: 768px) {
          &:hover {
            border-color: #007bff;
            box-shadow: 0 0 0 2px #007bff, 0 2px 4px -1px rgba(#222, 0.3);
            img {
              opacity: 0.8;
              transform: scale(1.04);
              transition: all 0.4s ease-out;
            }
            figure {
              transform: translateY(0);
              transition: transform 0.2s ease-out;

            }
          }
        }
  }

  img {
    max-width: auto;
    max-width: 100%;
    width: 100%;
    height: auto;
    border: 0;
    transition: all 0.2s ease-out;
  }

  figure {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 12px;
    margin: 0;
    background-color: rgba(#222,0.55);
    color: #fff;
    line-height: 1.3;
    font-size: 0.85rem;
    transform: translateY(100%);
    max-height: 100%;
    transition: all 0.1s ease-out;
    backdrop-filter: saturate(50%) blur(8px);
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
  }
}

[class*="pswp__button--arrow-"] {
  &:before {
    transform: scale(2);
  }
}

// SVG Icons
.svg-icon {
  display: inline-block;
  position: relative;
  vertical-align: text-top;

  &.si-18 {width: 18px;}
  &.si-white {fill: #fff;}
}

header#main {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 4px 12px -6px rgba(#333, 0.1);
  padding: 18px 0;
  min-height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  nav {
    @media(max-width: 500px) {
      flex-direction: column;
    }
  }
  .logo {
    width: 233px;
    margin-right: 18px;

    @media(max-width: 500px) {
      width: 65%;
      margin: 6px 0 18px 0;
    }
    a {
      display: inline-block;
      &:hover {opacity: 0.75;}
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .contact-cta {
    align-items: center;

    @media(max-width: 767px) {
      flex-direction: column;
      align-items: stretch;
    }
    @media(max-width: 500px) {
      flex-direction: row;
    }

    a.btn {
      margin: 0 6px;
    }

    .micro-text {
      font-size: 0.9rem;
      margin: 3px 0;
      @media(max-width: 500px) {display: none;}
      @media(min-width: 767px) {display: none;}

    }
  }
}

.fixed-header-space {
  position: relative;
  top: 0;
  height: 98px;

  @media(max-width: 767px) {height: 140px;}
  @media(max-width: 500px) {height: 158px;}
}

main {
  // margin-top: 116px;
}
 
section#hero {
  position: relative;
  overflow: hidden;
  height: 55vh;
  min-height: 380px;
  background-color: #ddd;

  .center-message {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(#222, 0.75);
    backdrop-filter: saturate(50%) blur(8px);
    border-radius: 6px;
    padding: $spacing-unit 6vw;
    color: #fff;
    text-align: center;
    z-index: 10;
    width: 94%;

    a {
      color: #fff;
      text-decoration: underline;
    }

    h1 {
      font-size: 1.2rem;
      font-weight: bold;
      @media(min-width: 768px) {font-size: 1.55rem;}
    }
    h2 {
      font-size: 1rem;
      margin: 1.4em 0 0.3em 0;
      @media(min-width: 768px) {font-size: 1.33rem;}
    }
    p {margin: 0;}
  }
}

.property-details {
  padding: $spacing-unit * 1.5 0;
}

.property-stats {
  position: relative;
  transform: translateY(-20%);
  text-align: center;
  z-index: 10;
  margin-bottom: -110px;

  @media (min-width: 501px) {margin-bottom: -80px;}
  @media (min-width: 800px) {margin-bottom: -40px;}

  ul {
    background-color: #fff;
    border-radius: 6px;
    padding: $spacing-unit 2vw;
    margin: 0;
    list-style: none;
    border: 1px solid $grey-color-light;
    box-shadow: 0 2px 12px -4px rgba(#222, 0.2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    // @media(min-width: 500px) {flex-direction: row;}

    li {
      display: inline-flex;
      flex-direction: column;
      line-height: 1;
      border-bottom: 1px solid #ddd;
      margin: 0;
      padding: 12px 0;
      flex: 1 0 auto;
      width: 100%;
      font-size: 1.9rem;

      @media (min-width: 501px) {width: inherit; border-bottom: 0; border-right: 1px solid #ddd; flex: 1 0 50%; margin: 8px 0; font-size: 2.3rem;}
      @media (min-width: 800px) {flex: 1 0 auto; margin: 0;}
      
      small {
        font-size: 0.45em;
        text-transform: uppercase;
        margin: 8px 0 0 0;
      }
      &:last-of-type {border: none; margin:0;}
    }
  }
}

.contact-content {
  // margin: 24px 0;
} 

// CSS3 background slideshow

.slideshow {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: -1;
  height: 48vh;
  width: 100%;
  min-height: 370px;
}

.slideshow,
.slideshow:after {
  top: 0px;
  left: 0px;
  // z-index: 0;
}
.slideshow:after {
    content: '';
    display: table;
    clear: both;
}
.slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    animation: imageAnimation 18s linear infinite 0s;
}

.slideshow li:nth-child(1) span {
    background-image: url('../images/gallery/mse-lg1.jpg');
}
.slideshow li:nth-child(2) span {
    background-image: url('../images/gallery/mse-lg12.jpg');
    animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
    background-image: url('../images/gallery/mse-lg19.jpg');
    animation-delay: 12s;
}
.slideshow li:nth-child(2) div {animation-delay: 6s;}
.slideshow li:nth-child(3) div {animation-delay: 12s;}

/* Animation for the slideshow images */
@keyframes imageAnimation { 
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    20% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    40% {
        opacity: 1;
        transform: scale(1.1);
    }
    50% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% { opacity: 0 }
}

/* Show at least something when animations not supported */
.no-cssanimations .slideshow li span{
    opacity: 1;
}



